@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 355 70% 95%;
    --foreground: 196 27% 20%;

    --card: 355 70% 95%;
    --card-foreground: 196 27% 20%;

    --popover: 355 70% 95%;
    --popover-foreground: 196 27% 20%;

    --primary: 12 100% 85%;
    --primary-foreground: 196 27% 60%;

    --secondary: 171 100% 65%;
    --secondary-foreground: 196 27% 60%;

    --muted: 0 0% 60%;
    --muted-foreground: 196 27% 40%;

    --accent: 171 100% 65%;
    --accent-foreground: 196 27% 60%;

    --destructive: 12 100% 80%;
    --destructive-foreground: 196 27% 60%;

    --border: 171 100% 75%;
    --input: 0 0% 100%;
    --ring: 171 100% 40%;

    --radius: 0.5rem;
    --custom-font: "Inter", sans-serif;
  }

  .dark {
    --background: 196 27% 20%;
    --foreground: 355 70% 95%;

    --card: 196 27% 20%;
    --card-foreground: 355 70% 95%;

    --popover: 196 27% 20%;
    --popover-foreground: 355 70% 95%;

    --primary: 355 70% 80%;
    --primary-foreground: 196 27% 70%;

    --secondary: 171 100% 60%;
    --secondary-foreground: 196 27% 70%;

    --muted: 0 0% 40%;
    --muted-foreground: 196 27% 60%;

    --accent: 171 100% 60%;
    --accent-foreground: 196 27% 70%;

    --destructive: 12 100% 70%;
    --destructive-foreground: 196 27% 70%;

    --border: 171 100% 50%;
    --input: 0 0% 100%;
    --ring: 196 27% 30%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-custom-font;
  }
}
